*{
    margin:0px;
    padding:0px;
    /* border:1px dotted red; */
}

/* Registration Page  */
.error_messages {
    margin-left:20px;
}
#page_heading{
    margin-left:300px;
}
#page_wrapper div{
    display:inline-block;
    vertical-align:top;
}

#register_container *{
    display:block;
}

#register_container h1{
    text-align:center;
    margin-bottom:10px;
}

#register_container input[type=submit] {
    margin-left:100px;
    margin-top:10px;
}

#login_container {
    margin-left:200px;
}
#login_container *{
    display:block;
}

#login_container h1{
    text-align:center;
    margin-bottom:10px;
}

#login_container input[type=submit] {
    margin-left:130px;
    margin-top:10px;
}

.labels_container {
    line-height:25px;
}

.input_container *{
    margin-top:5px;
}

#all_users_table {
    border:1px solid black;
}
#all_users_table tr:nth-child(odd){ 
    background: #adcaf1;
}
#all_users_table tr:nth-child(even){
    background: #dce9fa;
}

/* The Wall */
#wall_header {
    border-bottom:2px solid black;
}
#wall_header *{
    display:inline-block;
}
#wall_header h3 {
    margin-left:60%;
}
#wall_header a {
    margin-left:5%; 
}
.post_container{
    margin-top:5px;
}
.post_container *{
    display:block;
}
#message_txt {
    width: 60%;
    height:150px;
    margin-left:20px;
    text-align:top;
    padding-top:0px;
    padding-left:0px;
}
.post_container input[type=submit] {
    margin-left:55%;
    margin-top:10px;
}
.message_container {
    margin-top:10px;
    margin-left:40px;
}
.message_header *{
    display:inline-block;
}

.post_comment_container{
    margin-left:20px;
}

.comment_container {
    margin-top:10px;
    margin-left:20px;
}

.comment_container *{
    display:inline-block;
}
.comment_txt {
    width:20%;
    height:85px; 
    text-align:top;
    padding-top:0px;
    padding-left:0px;
}
.post_comment_container input[type=submit]{
    display:block;
    margin-left:13%;
}
