*{
    margin:0px;
    padding:0px;
    /* border:1px dotted red; */
}

/* Registration Page  */
.error_messages {
    margin-left:20px;
}
#page_heading{
    margin-left:300px;
}
#page_wrapper div{
    display:inline-block;
    vertical-align:top;
}

#register_container *{
    display:block;
}

#register_container h1{
    text-align:center;
    margin-bottom:10px;
}

#register_container input[type=submit] {
    margin-left:100px;
    margin-top:10px;
}

#login_container {
    margin-left:200px;
}
#login_container *{
    display:block;
}

#login_container h1{
    text-align:center;
    margin-bottom:10px;
}

#login_container input[type=submit] {
    margin-left:130px;
    margin-top:10px;
}

.labels_container {
    line-height:25px;
}

.input_container *{
    margin-top:5px;
}

#all_users_table {
    border:1px solid black;
}
#all_users_table tr:nth-child(odd){ 
    background: #adcaf1;
}
#all_users_table tr:nth-child(even){
    background: #dce9fa;
}

/* The Wall */
#wall_header {
    border-bottom:2px solid black;
}
#wall_header *{
    display:inline-block;
}
#wall_header h3 {
    margin-left:60%;
}
#wall_header a {
    margin-left:5%; 
}
.new_post_container{
    margin-top:15px;
}
.new_post_container *{
    display:block;
}
.new_post_container textarea {
    margin-left:20px;
    width:60%;
    height:100px;
    text-align:top;
    padding-top:0px;
    padding-left:0px;
}
.new_post_container input[type=submit] {
    margin-top:10px;
    margin-left:55%;
}
#posted_container div{
    margin-left:40px;
}
#posted_container p{
    margin-left:20px;
}

#posted_container .new_post_container{
    margin-left:20px;
}
#posted_container #message_header {
    margin-left:10px;
}
#posted_container #message_header *{
    display:inline-block;
}
#comment_container h4{
    margin:10px 0px;
}
#comment_container p{
    margin-left:0px;
}


